.web-percent-button {
  display: flex;width: 100%;padding: 0 2px;
  @include ns();
  span {
    position: relative;
    flex: 1;display: flex;align-items: center;justify-content: center;
    box-shadow: 0 0 0 2px $ce7;height: 26px;background: $cff;
    font-size: 12px;color: $c88;cursor: pointer;
    // @include dz();
    &:first-child {
      border-radius: 13px 0 0 13px;
    }
    // &:last-child {
    //   border-radius: 0 13px 13px 0;
    // }
    &:hover, &.active {
      box-shadow: 0 0 0 2px $red;color: $red;z-index: 1;
    }
  }
  &s {
    display: flex; width: 80%;
  }
  &-switch {
    width: 20%;border-radius: 0 13px 13px 0;box-shadow: 0 0 0 2px $ce7;
    margin-left: 2px;height: 26px;cursor: pointer;
    display: flex;justify-content: center;align-items: center;
    &:hover, &.active {
      &:after {
        background: $red;
        box-shadow: -10px 0 $red, 10px 0 $red;
      }
    }
    &:after {
      content: '';display: block;width: 7px;height: 7px;background: $c88;
      border-radius: 2px;
      box-shadow: -10px 0 $c88, 10px 0 $c88;
    }
  }
  &-slider {
    &-layout {
      width: 80%;border-radius: 13px 0 0 13px;box-shadow: 0 0 0 2px $ce7;
      padding: 5px 10px;
    }

  }
}

.dark, .mobile-mode.dark {
  .web-percent-button {
    span {
      box-shadow: 0 0 0 2px $c44;background: $c22;
      &:hover, &.active {
        box-shadow: 0 0 0 2px $yellow;color: $yellow;
      }
    }
  }
}
