.web-system-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.mobile-mode {
  .web-system-title {
    font-size: rem(24);
  }
}

.web-system-pair {
  .web-select-show-button {
    min-width: 240px;
  }

  .web-c-drop-down-list-motion-div {
    left: -8px;
    right: -8px;
    top: 56px;
  }
  .web-c-drop-down-list-content {
    li {
      padding: 0;
      justify-content: center;
    }
  }
}