.web-dashboard {
  @extend .web;padding-bottom: 100px;

  &-overview {
    &-charts {
      width: 676px;border: 12px solid $cf7;
      border-radius: 48px;padding: 36px;height: 400px;
      &-layout {
        display: flex;justify-content: space-between;
      }
      header {
        label {
          font-size: 12px;margin-bottom: 5px;display: block;
        }
      }
      .web-chart-area {
        height: 260px;
      }
    }
    &-market {

    }
  }

  &-plan {
    &-datas {
      display: flex;justify-content: space-between;
      &-item {
        width: 330px;border-radius: 40px;background: $cf7;padding: 0 10px 10px;

        header {
          height: 60px;display: flex;justify-content: center;align-items: center;font-size: 20px;
        }
        section {
          background: $cff;border-radius: 40px;height: 150px;
          display: flex;flex-flow: column;justify-content: center;align-items: center;
          .web-decimal-show, .web-balance-show {
            em, strong {
              font-size: 40px;font-weight: bold;
            }
            small {
              font-size: 20px;
            }
          }
          & > u {
            font-size: 16px;display: block;margin-top: 10px;
          }
        }
      }
    }
  }

  &-section-header {
    display: flex;justify-content: space-between;align-items: center;
    margin-top: 50px;padding-bottom: 24px;

    h3 {
      font-size: 20px;font-weight: bold;color: $red;padding: 10px 20px 0;position: relative;height: 48px;
      display: flex;justify-content: center;align-items: center;
      &:after {
        content: '';display: block;height: 12px;background: $red;border-radius: 6px;
        position: absolute;left: 0;right: 0;bottom: -24px;
      }
    }

    &-search {
      position: relative;width: 350px;
      &-button {
        display: block;position: absolute;right: 18px;top: 14px;width: 20px;height: 20px;border: none;
        background: url($res + 'icon/search-dark.svg') center/contain no-repeat;cursor: pointer;
      }
      input:focus + &-button, &-button:hover {
        background-image: url($res + 'icon/search-active.svg');
      }
    }
  }

  &-table {
    &-margin {
      display: flex;align-items: center;
      img {
        display: block;width: 40px;height: 40px;border-radius: 50%;margin-left: -24px;margin-right: 8px;
      }
    }
    &-countdown {
      width: 200px;font-weight: 400;
    }
  }

  &-grant {
    &-header,&-list {
      display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 70px;
    }
    &-list {
      margin-top: 70px;margin-bottom: 60px;
      &-item {
        background: $cff;position: relative;
        border-radius: 24px;padding: 68px 32px 24px;
        box-shadow: 0 0 12px rgba($c88, .5);

        &-state {
          position: absolute;right: 0;top: 24px;width: 130px;height: 40px;border-radius: 20px 0 0 20px;
          background: $ce7;line-height: 40px;text-align: center;font-weight: 400;color: $c88;font-size: 20px;

          &.upcoming {
            background: $yellow;color: $cff;
          }
          &.active {
            background: $red;color: $cff;
          }
        }

        dl {
          display: flex;justify-content: space-between;align-items: center;
          font-size: 20px;height: 50px;
          dt {
            color: $c88;
          }
          dd {
            display: flex;align-items: center;
            img {
              display: block;width: 25px;height: 25px;margin-right: 10px;
            }
          }
        }
      }

      &-add {
        &-button {
          background: $cff;height: 342px;cursor: pointer;
          border-radius: 24px;
          box-shadow: 0 0 12px rgba($c88, .5);
          background: $cff url($res + 'icon/plus.svg') center/80px auto no-repeat;
        }
      }
    }
  }

  &-add-grant {
    &-dialog {
      background: $cf7;border-radius: 40px;padding: 12px;
      &-selects {
        background: $cff;border-radius: 32px;padding: 12px 24px;
        .web-select {
          display: flex;justify-content: space-between;
          &-show-button {
            &, span {
              border-width: 0;padding: 0;justify-content: flex-end;
            }
          }
          &-options {
            left: auto;right: 0;width: 396px;
          }
        }
        hr {
          margin: 10px -10px;height: 1px;border: none;background: $ce7;
        }
      }
      &-volume {
        padding: 20px 30px;position: relative;
        & > p {
          position: absolute;right: 50px;top: 20px;font-size: 12px;color: $c88;
          em {
            color: $c22;
          }
        }
      }
      &-days {
        padding: 0 29px 20px;
        display: flex;
        section {
          label {
            display: block;font-size: 14px;padding-left: 24px;margin-bottom: 10px;
          }

          &:first-child .web-form-input {
            input {
              border-radius: 24px 0 0 24px;
              left: 1px;
            }
          }
          &:last-child .web-form-input {
            input {
              border-radius: 0 24px 24px 0;
              left: -1px;
            }
          }

          input {
            position: relative;
            &:focus {
              z-index: 1;
            }
          }
        }
      }
      &-confirm {
        margin: 0 auto;display: flex;margin-top: 40px;width: 200px;
      }
      &-preview {
        background: $cf7;border-radius: 40px;padding: 20px 40px;
        dl {
          display: flex;justify-content: space-between;align-items: center;
          font-size: 20px;height: 50px;
          dt {
            color: $c88;
          }
          dd {
            display: flex;align-items: center;
            img {
              display: block;width: 25px;height: 25px;margin-right: 10px;
            }
          }
        }
      }
    }
    &-margin {
      &-label {
        display: flex;align-items: center;
        img {
          display: block;width: 25px;height: 25px;margin-right: 5px;
        }
      }
      &-item {
        display: flex;width: 100%;justify-content: space-between;align-items: center;
        img {
          display: block;width: 25px;height: 25px;margin-right: 5px;
        }
        span {
          display: flex;align-items: center;
        }
        .web-decimal-show {
          font-weight: 400;
          em {
            font-size: 20px;
          }
          small {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.active .web-dashboard-add-grant-margin-item .web-decimal-show.black {
  color: $cff;
}
