.web-dashboard {
  @extend .web;padding-bottom: 100px;

  &-overview {
    &-charts {
      width: 676px;border: 12px solid $cf7;
      border-radius: 48px;padding: 36px;height: 400px;
      &-layout {
        display: flex;justify-content: space-between;
      }
      header {
        label {
          font-size: 12px;margin-bottom: 5px;display: block;
        }
      }
      .web-chart-area {
        height: 260px;
      }
    }
    &-market {

    }
  }

  &-plan {
    &-datas {
      display: flex;justify-content: space-between;
      &-item {
        width: 330px;border-radius: 40px;background: $cf7;padding: 0 10px 10px;

        header {
          height: 60px;display: flex;justify-content: center;align-items: center;font-size: 20px;
        }
        section {
          background: $cff;border-radius: 40px;height: 150px;
          display: flex;flex-flow: column;justify-content: center;align-items: center;
          .web-decimal-show, .web-balance-show {
            em, strong {
              font-size: 40px;font-weight: bold;
            }
            small {
              font-size: 20px;
            }
          }
          & > u {
            font-size: 16px;display: block;margin-top: 10px;
          }
        }
      }
    }
  }

  &-section-header {
    display: flex;justify-content: space-between;align-items: center;
    margin-top: 50px;padding-bottom: 24px;

    h3 {
      font-size: 20px;font-weight: bold;color: $red;padding: 10px 20px 0;position: relative;height: 48px;
      display: flex;justify-content: center;align-items: center;
      &:after {
        content: '';display: block;height: 12px;background: $red;border-radius: 6px;
        position: absolute;left: 0;right: 0;bottom: -24px;
      }
    }

    &-search {
      position: relative;width: 350px;
      &-button {
        display: block;position: absolute;right: 18px;top: 14px;width: 20px;height: 20px;border: none;
        background: url($res + 'icon/search-dark.svg') center/contain no-repeat;cursor: pointer;
      }
      input:focus + &-button, &-button:hover {
        background-image: url($res + 'icon/search-active.svg');
      }
    }
  }

  &-table {
    &-margin {
      display: flex;align-items: center;
      img {
        display: block;width: 40px;height: 40px;border-radius: 50%;margin-left: -24px;margin-right: 8px;
      }
    }
    &-countdown {
      width: 200px;font-weight: 400;
    }
  }

  &-grant {
    &-header {
      display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 40px;
    }
  }
}
