.web-dashboard {
  @extend .web;padding-bottom: 100px;

  &-overview {
    &-charts {
      width: 676px;border: 12px solid $cf7;
      border-radius: 48px;padding: 36px;height: 400px;
      &-layout {
        display: flex;justify-content: space-between;
      }
      header {
        label {
          font-size: 12px;margin-bottom: 5px;display: block;
        }
      }
      .web-chart-area {
        height: 260px;
      }
    }
    &-market {

    }
  }

  &-section-header {
    display: flex;justify-content: space-between;align-items: center;
    margin-top: 50px;padding-bottom: 24px;

    h3 {
      font-size: 20px;font-weight: bold;color: $red;padding: 10px 20px 0;position: relative;height: 48px;
      display: flex;justify-content: center;align-items: center;
      &:after {
        content: '';display: block;height: 12px;background: $red;border-radius: 6px;
        position: absolute;left: 0;right: 0;bottom: -24px;
      }
    }

    &-search {
      position: relative;width: 350px;
      &-button {
        display: block;position: absolute;right: 18px;top: 14px;width: 20px;height: 20px;border: none;
        background: url($res + 'icon/search-dark.svg') center/contain no-repeat;cursor: pointer;
      }
      input:focus + &-button, &-button:hover {
        background-image: url($res + 'icon/search-active.svg');
      }
    }
  }

  &-table {
    &-margin {
      display: flex;align-items: center;
      img {
        display: block;width: 40px;height: 40px;border-radius: 50%;margin-left: -24px;margin-right: 8px;
      }
    }
  }
}
