.web-broker-info {
  width: 468px;padding: 12px;background: $cf7;border-radius: 48px;
  &-header {
    flex: 1;
    &-layout {
      display: flex;justify-content: space-between;
      padding: 24px 24px 16px;
    }
    &-ico {
      margin-right: 24px;
      border-radius: 50%;
      overflow: hidden;
      width: 110px;
      height: 110px;
      display: flex;justify-content: center;align-items: center;
      // img {
      //   display: block;
      //   max-width: 110px;
      //   max-height: 110px;
      // }
      .web-image {
        width: 110px;height: 110px;
      }
    }
    h3 {
      font-size: 18px;line-height: 26px;
      display: flex;align-items: center;
      i {
        display: block;width: 26px;height: 26px;cursor: pointer;margin-left: 4px;
        background: url($res + 'icon/edit.svg') center/contain no-repeat;
      }
    }
    small {
      display: block;font-size: 16px;line-height: 20px;color: $c88;
    }
    &-sns {
      padding: 12px 0;
      display: flex;align-items: center;
      a {
        display: block;width: 20px;height: 20px;
        background: center/contain no-repeat;
        &.telegram {
          background-image: url($res + 'icon/telegram.svg');
        }
        &.discord {
          background-image: url($res + 'icon/discord.svg');
        }
        &.twitter {
          background-image: url($res + 'icon/twitter.svg');
        }
        &.reddit {
          background-image: url($res + 'icon/reddit.svg');
        }
        &.wechat {
          background-image: url($res + 'icon/wechat.svg');
        }
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
    &-lang {
      span {
        display: inline-flex;align-items: center;font-size: 10px;height: 20px;
        padding: 0 10px;background: $cff;border-radius: 10px;
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }
  }

  &-about {
    padding: 0 24px;font-size: 12px;margin-bottom: 16px;
    @include moreLine(3, 60px)
  }

  &-data {
    padding: 36px 48px;background: $cff;border-radius: 36px;height: 170px;
    main {
      display: flex;justify-content: space-between;align-items: flex-start;
      dl {
        dt {
          font-size: 16px;line-height: 20px;margin-bottom: 16px;
          display: flex;align-items: center;
        }
        dd {
          font-size: 32px;font-weight: bold;
          small {
            font-size: 14px;font-weight: 200;margin-left: 8px;
          }
          del {
            color: $ce7;
          }
        }
      }
    }
    footer {
      display: flex;justify-content: space-between;align-items: center;margin-top: 16px;line-height: 20px;
      p {
        font-weight: 200;font-size: 14px;
        time {
          font-weight: bold;
        }
      }
      aside {
        display: flex;align-items: center;
        a {
          font-size: 14px;color: $red;font-weight: bold;
        }
        button, i {
          display: block;width: 20px;height: 20px;cursor: pointer;
          background: center/contain no-repeat;
        }
        button {
          border: none;margin: 0 4px;
          background-image: url($res + 'icon/copy.svg');
        }
        i {
          background-image: url($res + 'icon/share.svg');
        }
      }
      &.expired {
        justify-content: flex-start;
        p {
          color: $ce7;
        }
        aside {
          display: none;
        }
      }
    }
  }
}

.mobile-mode {
  .web-broker-info {
    width: 100%;padding: rem(8);background: $cff;border-radius: 0;
    &-header {
      &-layout {
        padding: 0 rem(8) rem(12);
      }
      &-ico {
        margin-right: rem(16);
        width: rem(64);
        height: rem(64);
        .web-image {
          width: rem(64);height: rem(64);
        }
      }
      h3 {
        font-size: rem(14);line-height: rem(20);
        i {
          width: rem(20);height: rem(20);margin-left: rem(4);
        }
      }
      small {
        font-size: rem(12);line-height: 1;
      }
      &-sns {
        padding: rem(12) 0;
        a {
          width: rem(20);height: rem(20);
          &:not(:last-child) {
            margin-right: rem(8);
          }
        }
      }
      &-lang {
        span {
          font-size: rem(10);height: rem(20);
          padding: 0 rem(8);border-radius: rem(10);
          &:not(:last-child) {
            margin-right: rem(4);
          }
        }
      }
    }

    &-about {
      padding: 0 rem(12);font-size: rem(12);margin-bottom: 0;
      @include moreLine(3, 0.6rem)
    }

    &-data {
      position: absolute;bottom: rem(8);left: rem(24);right: rem(24);
      padding: rem(24);border-radius: rem(28);height: rem(148);
      main {
        // display: flex;justify-content: space-between;align-items: flex-start;
        dl {
          dt {
            font-size: rem(14);line-height: rem(20);margin-bottom: rem(8);
          }
          dd {
            font-size: rem(40);
            small {
              font-size: rem(18);margin-left: rem(8);
            }
          }
        }
      }
      footer {
        margin-top: rem(12);line-height: rem(20);
        p {
          font-size: rem(10);
        }
        aside {
          a {
            font-size: rem(10);
          }
          button, i {
            width: rem(20);height: rem(20);
          }
        }
        &.expired {
          justify-content: flex-start;
          p {
            color: $ce7;
          }
          aside {
            display: none;
          }
        }
      }
    }
  }
}
.dark, .mobile-mode.dark {
  .web-broker-info {
    background: $c33;
    &-header {
      h3 {
        i {
          background-image: url($res + 'icon/edit-dark.svg');
        }
      }
      &-sns {
        a {
          &.telegram {
            background-image: url($res + 'icon/telegram-dark.svg');
          }
          &.discord {
            background-image: url($res + 'icon/discord-dark.svg');
          }
          &.twitter {
            background-image: url($res + 'icon/twitter-dark.svg');
          }
          &.reddit {
            background-image: url($res + 'icon/reddit-dark.svg');
          }
          &.wechat {
            background-image: url($res + 'icon/wechat-dark.svg');
          }
        }
      }
      &-lang {
        span {
          background: $c33;
        }
      }
    }

    &-data {
      background: $c22;
      main {
        dl {
          dd {
            del {
              color: $c44;
            }
          }
        }
      }
      footer {
        aside {
          a {
            color: $yellow;
          }
          button {
            background-image: url($res + 'icon/copy-dark.svg');
          }
          i {
            background-image: url($res + 'icon/share-dark.svg');
          }
        }
        &.expired {
          p {
            color: $c44;
          }
        }
      }
    }
  }
}
.mobile-mode.dark {
  .web-broker-info {
    background: $c22;
  }
}
