.web-trade-symbol-select {
  position: relative;z-index: 4;
  &-curr {
    border: 2px solid $cff; background: $cff;width: 260px;
    display: flex;flex-flow: column;padding: 12px 24px;height: 72px;border-radius: 36px;
    @include ns();cursor: pointer;
    &.s{align-items: center;justify-content: center;font-size: 14px}
    h4 {
      font-size: 18px;font-weight: normal;height: 20px;display: flex;align-items: center;justify-content: space-between;width: 100%;
      &:after {
        content: '';display: block;width: 12px;height: 12px;
        background: url($res + 'icon/arrow-down.svg') center/contain no-repeat;
      }
    }
    aside {
      display: flex;justify-content: space-between;align-items: center;height: 26px;margin-top: 2px;
      .web-balance-show {
        font-size: 18px;
      }
    }
  }
  &.show &-curr {
    border-color: $red;color: $red;
    h4 {
      &:after {
        background-image: url($res + 'icon/arrow-up.svg');
      }
    }
  }

  &-search {
    position: relative;
    i {
      position: absolute;left: 24px;top: 14px;
      display: block;width: 20px;height: 20px;
      background: url($res + 'icon/search.svg') center/contain no-repeat;
    }

    input {
      display: block;width: 100%;border: 2px solid $ce7;font-size: 16px;line-height: 20px;
      height: 48px;border-radius: 24px;padding: 14px 24px 14px 52px;font-weight: bold;

      &:focus, &:hover {
        border-color: $red;color: $red;

        & + i {
          background-image: url($res + 'icon/search-active.svg');
        }
      }
    }
  }
  &-options {
    width: 660px;padding: 24px;position: absolute;left: 0;top: 84px;
    background: $cff;
    box-shadow: 0 0 8px rgba($c00, 0.2);
    border-radius: 36px;

    ul {
      margin-top: 12px;
      li {
        display: flex;justify-content: space-between;align-items: center;
        height: 48px;border-radius: 24px;background: $cff;padding: 0 24px;cursor: pointer;
        @include dz();
        &:hover {
          background: $cf7;
        }
        &:not(:last-child) {
          margin-bottom: 4px;
        }

        h5 {
          font-size: 16px;font-weight: normal;width: 140px;
        }
        .web-balance-show {
          width: 180px;
          strong {
            font-size: 18px;
          }
          small {
            font-size: 16px;font-weight: bold;
          }
          span {
            font-size: 16px;margin-left: 2px;
          }
          &:last-child {
            width: 140px;text-align: right;
          }
        }
        .web-change-percent {
          width: 100px;
        }
      }
    }
  }
  &-container{max-height: 478px;overflow: hidden auto}
}
.mobile-mode {
  .web-trade-symbol-select {
    width: 100%;
    &-curr {
      width: 100%;
      flex-flow: row;align-items: center;
      padding: rem(16) rem(45) rem(16) rem(32);height: rem(56);border-radius: rem(28);
      &.s{font-size: rem(14)}
      h4 {
        font-size: rem(14);height: rem(20);
        &:after {
          position: absolute;left: rem(24);top: rem(22);
          width: rem(5);height: rem(12);
          background-image: url($res + 'icon/dot.svg');
        }
      }
      aside {
        margin-top: 0;flex-flow: row-reverse;
        .web-balance-show {
          font-size: rem(12);margin-left: rem(8);
        }
      }
    }
    &.show .web-trade-symbol-select-curr {
      h4 {
        &:after {
          background-image: url($res + 'icon/dot-active.svg');
        }
      }
    }
    &-toggle {
      position: absolute;right: rem(16);top: rem(16);
      width: rem(22);height: rem(22);
      background: url($res + 'icon/toggle.svg') center/contain no-repeat;
    }
    &-search {
      position: relative;
      i {
        left: rem(16);top: rem(10);
        width: rem(16);height: rem(16);
      }

      input {
        font-size: rem(14);border-width: rem(2);
        height: rem(36);border-radius: rem(18);padding: rem(8) rem(16) rem(8) rem(40);
      }
    }
    &-options {
      width: 100%;padding: rem(24);top: rem(66);
      border-radius: rem(28);

      ul {
        margin-top: rem(12);
        li {
          height: rem(60);border-radius: rem(30);padding: 0 rem(16);
          margin-bottom: 0;

          h5 {
            font-size: rem(14);width: auto;line-height: rem(20);
          }

          .web-balance-show {
            width: auto;
            strong {
              font-size: rem(16);
            }
            small {
              font-size: rem(10);
            }
            span {
              font-size: rem(10);
            }
            &:last-child {
              width: auto;text-align: left;
            }
          }
          .web-change-percent {
            width: auto;
          }
          aside {
            &:last-child {
              display: flex;flex-flow: column;align-items: flex-end;
              .web-balance-show {
                height: rem(20);
              }
            }
          }
        }
      }
    }
  }
}
.dark {
  .web-trade-symbol-select {
    &-curr {
      background: $c22;
      border-color: $c22;
      h4 {
        &:after {
          background-image: url($res + 'icon/arrow-down-dark.svg');
        }
      }
    }
    &.show .web-trade-symbol-select-curr {
      border-color: $yellow;color: $yellow;
      h4 {
        &:after {
          background-image: url($res + 'icon/arrow-up-dark.svg');
        }
      }
    }

    &-search {
      i {
        background-image: url($res + 'icon/search-dark.svg');
      }

      input {
        border-color: $c44;background: $c22;

        &:focus, &:hover {
          border-color: $yellow;color: $yellow;

          & + i {
            background-image: url($res + 'icon/search-active-dark.svg');
          }
        }
      }
    }
    &-options {
      background: $c22;
      box-shadow: 0 0 8px rgba($c00, 0.8);

      ul {
        li {
          background: $c22;
          &:hover {
            background: $c33;
          }
        }
      }
    }
  }
}
.mobile-mode.dark {
  .web-trade-symbol-select {
    &-curr {
      h4 {
        &:after {
          background-image: url($res + 'icon/dot-dark.svg');
        }
      }
    }
    &.show .web-trade-symbol-select-curr {
      h4 {
        &:after {
          background-image: url($res + 'icon/dot-active-dark.svg');
        }
      }
    }
    &-toggle {
      background-image: url($res + 'icon/toggle-dark.svg');
    }
  }
}
