// static prefix
$res: '//derify-app-resources.vercel.app/image/';
// base
@import 'base/main';
@import "components/common/Chart/_KLine.scss";
@import "components/common/Chart/_index.scss";
@import "components/common/Form/_CheckBox.scss";
@import "components/common/Form/_FormItem.scss";
@import "components/common/Form/_Input.scss";
@import "components/common/Form/_LeverageSelect.scss";
@import "components/common/Form/_PercentButton.scss";
@import "components/common/Form/_Select.scss";
@import "components/common/Form/_Stepper.scss";
@import "components/common/Form/_UploadImage.scss";
@import "components/common/Form/_index.scss";
@import "components/common/Wallet/_AccessDenied.scss";
@import "components/common/Wallet/_Account.scss";
@import "components/common/Wallet/_AddTokenButton.scss";
@import "components/common/Wallet/_AmountInput.scss";
@import "components/common/Wallet/_BalanceShow.scss";
@import "components/common/Wallet/_ConnectButton.scss";
@import "components/common/Wallet/_Deposit.scss";
@import "components/common/Wallet/_Extend.scss";
@import "components/common/Wallet/_Index.scss";
@import "components/common/Wallet/_SelectNetworkButton.scss";
@import "components/common/Wallet/_Withdraw.scss";
@import "components/common/_Button.scss";
@import "components/common/_ChangePercent.scss";
@import "components/common/_DecimalShow.scss";
@import "components/common/_Dialog.scss";
@import "components/common/_DropDownList.scss";
@import "components/common/_Image.scss";
@import "components/common/_Loading.scss";
@import "components/common/_Pagination.scss";
@import "components/common/_QuestionPopover.scss";
@import "components/common/_Skeleton.scss";
@import "components/common/_Slider.scss";
@import "components/common/_Spinner.scss";
@import "components/common/_Table.scss";
@import "components/common/_Tabs.scss";
@import "components/common/_Toast.scss";
@import "components/web/Header/_SelectLang.scss";
@import "components/web/Header/_Tool.scss";
@import "components/web/Header/_index.scss";
@import "components/web/Header/_mobile.scss";
@import "components/web/_MultipleStatus.scss";
@import "components/web/_NotConnect.scss";
@import "pages/web/Airdrop/_index.scss";
@import "pages/web/Broker/Bind/_BrokerDialog.scss";
@import "pages/web/Broker/Bind/_List.scss";
@import "pages/web/Broker/Bind/_index.scss";
@import "pages/web/Broker/Workbench/_index.scss";
@import "pages/web/Broker/Workbench/c/Data/_History.scss";
@import "pages/web/Broker/Workbench/c/Data/_index.scss";
@import "pages/web/Broker/Workbench/c/_Dashboard.scss";
@import "pages/web/Broker/Workbench/c/_Info.scss";
@import "pages/web/Broker/_MyBroker.scss";
@import "pages/web/Broker/_Rank.scss";
@import "pages/web/Broker/_SignUp.scss";
@import "pages/web/Broker/_SignUpMobile.scss";
@import "pages/web/Broker/_index.scss";
@import "pages/web/Dashborad/_index.scss";
@import "pages/web/Data/_index.scss";
@import "pages/web/Eran/_index.scss";
@import "pages/web/Faucet/_index.scss";
@import "pages/web/MySpace/_System.scss";
@import "pages/web/MySpace/_index.scss";
@import "pages/web/Trade/Bench/_index.scss";
@import "pages/web/Trade/Data/_MyPosition.scss";
@import "pages/web/Trade/Data/_index.scss";
@import "pages/web/Trade/Data/c/_AtomWrap.scss";
@import "pages/web/Trade/Data/c/_DataAtom.scss";
@import "pages/web/Trade/Data/c/_EditButton.scss";
@import "pages/web/Trade/Data/c/_ItemHeader.scss";
@import "pages/web/Trade/Data/c/_NoRecord.scss";
@import "pages/web/Trade/Dialogs/_ClosePosition.scss";
@import "pages/web/Trade/Dialogs/_index.scss";
@import "pages/web/Trade/KLine/_MobileFixed.scss";
@import "pages/web/Trade/KLine/_SymlolSelect.scss";
@import "pages/web/Trade/KLine/_index.scss";
@import "pages/web/Trade/_index.scss";
@import "pages/web/_consultant.scss";
@import "pages/web/_userApply.scss";
