.web-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1
  }

  &.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1
  }

  .spinner {
    width: 36px;
    height: 36px;
    border: 4px $yellow solid;
    border-top: 4px $red solid;
    border-radius: 100%;
    animation: spin-circle .8s infinite linear;
  }

  &.mini{
    .spinner {
      width: 12px;
      height: 12px;
      border: 1px $yellow solid;
      border-top: 1px $red solid;
    }
  }
  &.small{
    .spinner {
      width: 18px;
      height: 18px;
      border: 2px $yellow solid;
      border-top: 2px $red solid;
    }
  }
}

.web-text-spinner{color:inherit;opacity: 0.35}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}