.rc-table {
  font-size: 16px;color: $c22;padding: 14px 0;margin-bottom: 36px;
  $self: &;
  &-content {
    border: none;border-radius: 0;
  }
  th, td {
    border: none;
  }
  thead {
    th {
      background: none;padding: 12px 36px;text-align: left;
    }
  }
  tbody {
    tr {
      th, td {
        background: none;padding: 12px 36px;
      }
    }
  }
  #{$self}-cell#{$self}-cell-row-hover {
    background: none;
  }
  &-tbody {
    tr {
      border-radius: 36px;
      &:nth-child(2n + 1) td {
        background: $cf7 !important;
        &:first-child {
          border-radius: 36px 0 0 36px;
        }
        &:last-child {
          border-radius: 0 36px 36px 0;
        }
      }
    }
    .rc-table-placeholder:first-child td {
      background: $cff !important;height: 160px;font-size: 12px;color: $c88;padding-bottom: 36px;
    }
  }
  &:before, &:after {
    content: '';display: block;height: 12px;border-radius: 6px;background: $cf7;
    position: absolute;left: 0;right: 0;z-index: -1;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.mobile-mode {
  .rc-table {
    font-size: rem(12);padding: rem(12) 0;margin-bottom: rem(24);
    tbody, thead {
      tr {
        th, td {
          padding: rem(8);
          &:first-child {
            padding-left: rem(24);
          }
          &:last-child {
            padding-right: rem(24);
          }
        }
      }
    }

    &-tbody {
      tr {
        border-radius: rem(28);
        &:nth-child(2n + 1) td {
          &:first-child {
            border-radius: rem(28) 0 0 rem(28);
          }
          &:last-child {
            border-radius: 0 rem(28) rem(28) 0;
          }
        }
      }
      .rc-table-placeholder:first-child td {
        height: rem(160);font-size: rem(12);padding-bottom: rem(24);
      }
    }
    &:before, &:after {
      height: rem(8);border-radius: rem(4);
    }
  }
}

.dark, .mobile-mode.dark {
  .rc-table {
    color: $cff;
    &-tbody {
      tr {
        &:nth-child(2n + 1) td {
          background: $c33 !important;
        }
      }
      .rc-table-placeholder:first-child td {
        background: $c22 !important;
      }
    }
    &:before, &:after {
      background: $c33;
    }
  }
}
