.web-balance-show {
  //text-transform: uppercase;
  strong {
    font-size: 1.54em;
  }
  small {
    font-size: 1em;font-weight: bold;
  }
  span {
    font-size: 1em;margin-left: 8px;
  }
  &.million, &.dec {
    small {
      font-weight: bold;text-transform: uppercase;
      u:first-child{margin-right: 4px}
    }
  }
}

.mobile-mode{
  .web-balance-show {
    strong {
      font-size: inherit;
    }
    span {
      margin-left: rem(4);
    }
  }
}
